@font-face {
    font-family: 'latobold';
    src: url('/font/lato-bold-webfont.woff2') format('woff2'),
         url('/font/lato-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latobold_italic';
    src: url('/font/lato-bolditalic-webfont.woff2') format('woff2'),
         url('/font/lato-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latoitalic';
    src: url('/font/lato-italic-webfont.woff2') format('woff2'),
         url('/font/lato-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latolight';
    src: url('/font/lato-light-webfont.woff2') format('woff2'),
         url('/font/lato-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latolight_italic';
    src: url('/font/lato-lightitalic-webfont.woff2') format('woff2'),
         url('/font/lato-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latoregular';
    src: url('/font/lato-regular-webfont.woff2') format('woff2'),
         url('/font/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latohairline';
    src: url('/font/lato-thin-webfont.woff2') format('woff2'),
         url('/font/lato-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'latohairline_italic';
    src: url('/font/lato-thinitalic-webfont.woff2') format('woff2'),
         url('/font/lato-thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
*{
    margin: 0;
    padding: 0;
    font-family: 'latolight';
}
.vh-100 {
    height: 170px!important;
}
.bg-info {
    background-color: #080861!important;
}
.timing p {
    margin: 4px;
}

h4.font-weight-bold {
    font-size: medium;
    margin: 2px;
}
.adrs-text.text-white p {
    font-size: smaller;
    margin: 0;
}
.logo-header img {
    max-width: 82px;
}